<div class="ecp-history" id="app">
     <div class="container mt-0">
          <button class="btn-default" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasHistory" aria-controls="offcanvasHistory">
               Отобразить историю
          </button>
          <div class="mt-5">
               <h3 class="h3 ff-exo">Загруженные данные</h3>
          </div>
          <div class="">
               <div class="">
                    <div class="table-default accent-table">
                         <table>
                              <thead>
                                   <tr>
                                        <th>№</th>
                                        <th>Наименование</th>
                                        <th>Количество</th>
                                        <th>Стоимость</th>
                                        <th>Сумма скидки</th>
                                        <th>GTIN</th>
                                        <th>Код маркировки</th>
                                        <th>Тип маркировки</th>
                                        <th>Сумма надбавки</th>
                                        <th>Код УКЗ</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   <tr v-for="(position, index) in selectedPosition" :key="index">
                                        <td>{{index + 1}}</td>
                                        <td>{{position?.name}}</td>
                                        <td>{{position?.productCount}}</td>
                                        <td>{{position?.amount}}</td>
                                        <td>{{position?.discount}}</td>
                                        <td>{{position?.ean}}</td>
                                        <td>{{position?.markingCode}}</td>
                                        <td>{{position?.markingType}}</td>
                                        <td>{{position?.surcharge}}</td>
                                        <td>{{position?.ukzCode}}</td>
                                   </tr>
                              </tbody>
                         </table>
                    </div>
               </div>
          </div>
     </div>

     <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasHistory" aria-labelledby="offcanvasHistoryLabel">
          <div class="offcanvas-header">
               <h5 class="h5 ff-exo" id="offcanvasHistoryLabel">Дата последних загрузок</h5>
               <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
               <ol class="list-group list-group-numbered gap-2">
                    <li
                         v-for="(position, index) in historyData"
                         :key="index"
                         class="list-group-item d-flex flex-row flex-nowrap btn-list"
                         :class="[index == selectedPosition.index ? 'active' : '']">
                         <button class="w-100 text-start" @click="selectPosition(index)">{{position.date}}</button>
                    </li>
               </ol>
          </div>
     </div>
</div>

<script>
     const { createApp, ref } = Vue;

     createApp({
          data() {
               return {
                    test: true,
                    historyData: [
                         {
                              date: '10-06-2025',
                              data: [
                                   {
                                        name: 'testName1',
                                        productCount: '1111', //Количество товара
                                        amount: '1111', //Стоимость продажи единицы маркированного товара
                                        discount: '111', //Сумма скидки для маркированного товара
                                        ean: '1111111111111', //GTIN товара
                                        markingCode: '111', //Код маркировки
                                        markingType: '111', //Тип маркировки
                                        surcharge: '111', //Сумма надбавки для маркированного товара
                                        ukzCode: '111', //Код УКЗ -унифицированный контрольный знак
                                   },
                                   {
                                        name: 'testName2',
                                        productCount: '2222', //Количество товара
                                        amount: '2222', //Стоимость продажи единицы маркированного товара
                                        discount: '222', //Сумма скидки для маркированного товара
                                        ean: '2222222222222', //GTIN товара
                                        markingCode: '222', //Код маркировки
                                        markingType: '222', //Тип маркировки
                                        surcharge: '222', //Сумма надбавки для маркированного товара
                                        ukzCode: '222', //Код УКЗ -унифицированный контрольный знак
                                   },
                                   {
                                        name: 'testName1',
                                        productCount: '1111', //Количество товара
                                        amount: '1111', //Стоимость продажи единицы маркированного товара
                                        discount: '111', //Сумма скидки для маркированного товара
                                        ean: '1111111111111', //GTIN товара
                                        markingCode: '111', //Код маркировки
                                        markingType: '111', //Тип маркировки
                                        surcharge: '111', //Сумма надбавки для маркированного товара
                                        ukzCode: '111', //Код УКЗ -унифицированный контрольный знак
                                   },
                              ],
                         },
                         {
                              date: '13-06-2025',
                              data: [
                                   {
                                        name: 'testName2',
                                        productCount: '2222', //Количество товара
                                        amount: '2222', //Стоимость продажи единицы маркированного товара
                                        discount: '222', //Сумма скидки для маркированного товара
                                        ean: '2222222222222', //GTIN товара
                                        markingCode: '222', //Код маркировки
                                        markingType: '222', //Тип маркировки
                                        surcharge: '222', //Сумма надбавки для маркированного товара
                                        ukzCode: '222', //Код УКЗ -унифицированный контрольный знак
                                   },
                                   {
                                        name: 'testName1',
                                        productCount: '1111', //Количество товара
                                        amount: '1111', //Стоимость продажи единицы маркированного товара
                                        discount: '111', //Сумма скидки для маркированного товара
                                        ean: '1111111111111', //GTIN товара
                                        markingCode: '111', //Код маркировки
                                        markingType: '111', //Тип маркировки
                                        surcharge: '111', //Сумма надбавки для маркированного товара
                                        ukzCode: '111', //Код УКЗ -унифицированный контрольный знак
                                   },
                              ],
                         },
                    ],
                    selectedPosition: {
                         name: null,
                         productCount: null, //Количество товара
                         amount: null, //Стоимость продажи единицы маркированного товара
                         discount: null, //Сумма скидки для маркированного товара
                         ean: null, //GTIN товара
                         markingCode: null, //Код маркировки
                         markingType: null, //Тип маркировки
                         surcharge: null, //Сумма надбавки для маркированного товара
                         ukzCode: null, //Код УКЗ -унифицированный контрольный знак
                         index: null,
                    },
               };
          },
          watch: {},
          computed: {},
          methods: {
               selectPosition(index) {
                    this.selectedPosition = this.historyData[index].data;
                    this.selectedPosition.index = index;
               },
          },
          mounted() {
               this.selectedPosition = this.historyData[0].data;
               this.selectedPosition.index = 0;
          },
     }).mount('#app');
</script>
